# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.*.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# MuseScore extra files next to saved .mscx sheets
src/fixtures/**/META-INF/
src/fixtures/**/Thumbnails/
src/fixtures/**/audiosettings.json
src/fixtures/**/viewsettings.json
src/fixtures/**/score_style.mss
